<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CortMap</title>
</head>
<body>
    <iframe
        width="1000"
        height="600"
        style="border:10"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=
            &q=Hanyang+ERICA,Ansan+KR">
        {% comment %} key= 뒤에 API 키 작성하는거 까먹지 말기! {% endcomment %}
    </iframe>
    CortMap메인 페이지입니다.
    
</body>
</html>